<!doctype html>
<html lang="en-us" class=scroll-smooth data-default-appearance=light data-auto-appearance=true>
  <head>
    {% block head %}
    <!-- Clicky -->
    <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101320555);</script>
    <script async src="//static.getclicky.com/js"></script>
    <!-- Clicky -->
    <meta charset="utf-8">
    <title>Luca's blog - {% block title %}Home{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ site_author }}" />
    <meta name="description" content="{{ site_name }}" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{{ url_for("static", file="style.css") }}" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <script async src="https://talk.hyvor.com/embed/embed.js" type="module"></script>
    <script type=text/javascript src="{{ url_for("static", file="/js/appearance.js") }}"></script>
    <script defer type=text/javascript id=script-bundle src="{{ url_for("static", file="/js/main.js") }}" data-copy=Copy data-copied=Copied></script>
    {% endblock %}
  </head>

  <body class="flex flex-col h-screen px-6 m-auto text-lg leading-7 bg-neutral text-neutral-900 sm:px-14 md:px-24 lg:px-32 dark:bg-neutral-800 dark:text-neutral max-w-7xl">
    {% block nav %}
    {% include "nav.html" %}
    {% endblock %}

    <main id="main" class="relative grow">
      {% block main %}{% endblock %}
    </main>

    <footer class="py-10 print:hidden">
      {% block footer %}
      {% include "footer.html" %}
      {% endblock %}
    </footer>

  </body>
</html>
