{% extends "base_layout.html" %}

{% block main %}
<header>
  <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">Posts</h1>
</header>

<section class="flex flex-col max-w-full prose lg:flex-row dark:prose-invert mt-0">
  <div class="min-w-0 min-h-0 max-w-prose">
  </div>
</section>

{% for post in posts %}

<article>
  <h3 class="flex items-center mt-6 text-xl font-semibold">
    <a class="decoration-primary-500 hover:underline hover:underline-offset-2 text-neutral-800 dark:text-neutral" href="{{ url_for("posts", slug=post.slug) }}">{{ post.title }}
      <!-- {{ post.subtitle }} -->
    </a>
  </h3>
  <div class="text-sm text-neutral-500 dark:text-neutral-400">
    <div class="flex flex-row flex-wrap items-center">
      <time>{{ post.date|strftime("%b %d, %Y") }}
      </time>
      <span class="px-2 text-primary-500">&#183;
      </span>
      <span title="tags">{{ post.filetags }}
      </span>
    </div>
  </div>
</article>
{% endfor %}

{% endblock %}
